<!-- back up file -->


<!--
<html>
<head>
  <title>File Upload</title>
</head>
<body>
    <form class = 'upload-form', action="/uploader" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg,.png" />
        <input type="submit" />
    </form>
</body>
</html>


<div class="12u$">
	<ul class="actions">
		<li><input type="file" name="Upload Image From My Computer" accept=".jpg,.png" /></li>
		<li><input type="submit" value="Recognize" /></li>
		<li><input type="reset" value="Reset" class="alt" /></li>
	</ul>
</div>
-->